@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* 
new scheme
#09023b- dark blue
#0077b6- teal
#00b4d8- aqua
#90e0ef- light aqua
#caf0f8- lightest aqua
*/
:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-dark-blue: #09023b;
  --color-teal: #0077b6;
  --color-aqua: #00b4d8;
  --color-light-aqua: #90e0ef;
  --color-lightest-aqua: #caf0f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-dark-blue);
  color: var(--color-teal);
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}
a {
  color: #646cff;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
