#project-section {
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}
.project-section-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.project-section-container::-webkit-scrollbar {
  display: block;
  height: 2px;
}
.project-section-container::-webkit-scrollbar-thumb {
  background-color: #9ba4b5;
}
.project-card {
  margin-top: 40px;
  display: flex;
  width: 430px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.project-card img {
  object-fit: cover;
  width: 440px;
  height: 260px;
}
.project-card-active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 10;
  transition: opacity 0.3s, transform 0.9s;
}
#prev-btn {
  position: absolute;
  left: 0;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #9ba4b5;
  z-index: 10;
}
#prev-btn img {
  transform: translateX(-5px) rotate(180deg);
}
#next-btn {
  position: absolute;
  right: 0;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #9ba4b5;
  z-index: 10;
}
