#project-mobile-section {
  display: flex;
  position: relative;
  z-index: 10;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  min-height: 100vh;
}

.project-mobile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.deck {
  position: absolute;
  top: 150px;
  width: 600px;
  height: 400px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.project-slide-card {
  background-color: #060c21;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
}
.project-slide-card:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.project-slide-card:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.project-slide-card:before,
.project-slide-card:after {
  background: linear-gradient(235deg, #2196f3, #010615, #f00000);
}

.project-slide-card img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}
@media screen and (width<380px) {
  #project-mobile-section {
    height: 120vh;
  }
}
