#hero-mobile-section {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  background-color: #060c21;
}
#hero-mobile-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
}
#hero-mobile-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-mb {
  position: relative;
  height: auto;
  width: auto;
  z-index: 1000;
}
#role-mb {
  font-size: 2rem;
  text-align: center;
}
#main-name-mb {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 900;
  font-size: 5.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 0;
  text-align: center;
}
#last-name {
  color: #394867;
}
