#hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
  background: url("../../assets/bg_gradient_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 50px 0;
}

.gradient-1,
.gradient-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #a07ff9 0%, #09023b 100%);
}

.gradient-1 {
  z-index: -4;
  left: -25vw;
  top: 70vh;
}

.gradient-2 {
  z-index: 2;
  right: -25vw;
  top: -70vh;
}

.hero-text {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  max-width: 50%;
}

.hero-text p {
  font-size: 1.5rem;
  font-weight: 500;
}
#hero-text-1 {
  font-weight: 900;
  font-size: 8rem;

  background: linear-gradient(90deg, #0077b6 37.5%, #00b4d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
#hero-text-2 {
  font-weight: 900;
  font-size: 6.8rem;

  background: linear-gradient(270deg, #0077b6 34.5%, #00b4d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav-link {
  position: relative;
  color: #0077b6;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2px 1rem;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 3%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0077b6;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 6%;
  background-color: #00b4d8;
}
.nav-link:hover {
  color: #00b4d8;
}

.macbook-image {
  display: flex;
  position: relative;
  z-index: 0;
  max-width: 50%;
  right: -15vw;
}
.macbook-image img {
  max-height: 120%;
  max-width: 120%;
}
